@media screen and (min-width: 1002px) {

}





@media screen and (min-width: 1200px) {
	.window_padding {
		padding-left: 12% !important;
		padding-right: 12% !important;
	}
	.absolute_left {
		left: 12%;
	}
	.absolute_right {
		right: 12%;
	}
}
